	html,body {
		background-image:URL('../img/bck1.png'); 
		color: aliceblue; 
		width:80%;
		margin:auto;
		font-size:18px;
	}
	h1 {
		text-align:center; 
		color: aliceblue;
		font-family: initial;
	}

	nav ul {
		font-size:24px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #ff5722cc;
	}

	nav ul li {
		float: left;
	}

	nav ul li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	nav ul li a:hover {
		background-color: #f5722cc;
	}
	
	
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 30%;
	}
	
	h3 {
		color: #FF5722;font-size: 24px;
	}
	
	footer{
		text-align:center;
	}
	
	p a {
		text-decoration: none;
		color: #ff9800;
	}  
	
	main a {
		color:#00ff9f;
	}

